:host([data-theme-mode="Dark"]) {
    --background: rgba(0, 0, 0, 1);
    --fallback-background: rgba(32, 32, 32, 1);
}

:host([data-theme-mode="Dark"]) .luminosityBlend {
    filter: saturate(0.4);
}

:host([data-theme-mode="Light"]) {
    --background: rgba(255, 255, 255, 1);
    --fallback-background: rgba(243, 243, 243, 1);
}

:host {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.luminosityBlend {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    background-color: var(--background);
}

.mixColor {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.15;
}

.gaussianBlur {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-backdrop-filter: blur(40px) brightness(1.2);
    backdrop-filter: blur(40px) brightness(1.2);
}

.noiseTexture {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url(./Images/Noise.png);
    opacity: 0.02;
}

.fallback {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
    background-color: var(--fallback-background);
}

:host([deactivate="true"]) .mixColor {
    filter: grayscale(1);
}
