<div class="titleBar" data-on-dblclick="ClickMaximizeOrRestore">
    <div class="content">
        <img class="icon" title="图标" />
        <div class="title"></div>
    </div>
    <div class="functionFrame" data-on-dblclick="Active" data-on-pointerdown="JustActiveParent">
        <div class="btn btnMin" data-on-click="ClickMin" title="最小化">
            <i></i>
        </div>
        <div class="btn btnRestore" data-on-click="ClickMaximizeOrRestore" title="还原">
            <i></i>
        </div>
        <div class="btn btnMax" data-on-click="ClickMaximizeOrRestore" title="最大化">
            <i></i>
        </div>
        <div class="btn btnClose" data-on-click="ClickClose" title="关闭">
            <i></i>
        </div>
    </div>
</div>
